html {
    font-family: 'Georama', sans-serif;
    font-size: 16px;
}

body {
    background-color: cadetblue;
}

#konteiner {
    max-width: 900px;
    background-color: beige;
    min-height: 400px;
    padding: 1rem;
    margin-left: auto;
    margin-right: auto;
}

.uudis-sisu {
    font-size: 1rem;
}

h2 {
    font-size: 1.3rem;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 2.2rem;
}

.uudis-autor,
.uudis-kuupaev {
    font-size: 0.7rem;
    display: inline-block;
}

.uudis-autor {
    font-weight: bold;
    width: 70%;
}
.uudis-kuupaev {
    width: 29%;
    text-align: right;
}